@import url('https://fonts.googleapis.com/css2?family=Anta&family=Exo:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
}
         
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}


html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline-flex;
}

.nav a {
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}



.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url("images/background2.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.company-name {
    margin: 5px;
    font-size: 2em;
    color: #003990;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.number {
    text-align: center;
    margin: 10px;
    font-size: 2em;
    color: #003990;
    text-decoration: underline;
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: inherit;
}

.company-name-large {
    text-align: center;
    margin: 0;
    font-size: 7em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color:rgb(180, 235, 52);
}

.description {
    text-align: center;
    font-size: 3em;
    color: rgb(235, 218, 66);
    font-family: Satisfy;
    font-display: swap;

}

.sub-title{
    text-align: center;
    font-size: 3em;
    color:rgb(239, 132, 10);
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0.5em;
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-company-image {
    float: left;
    height: 220px;
    width: 220px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background: linear-gradient(to bottom,rgb(242, 238, 2), rgb(50, 189, 50));
    color:white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
    text-align: left;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width:45px;
    height:45px
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2D9CDB;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2D9CDB;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
}

.btn-primary {
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #2D9CDB;
}

.shop-item{
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    width: 300px;
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item{
    width: 40%
}

.cart-prize {
    width: 25%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2.em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    height: 34px;
}

.btn-danger:hover {
    background-color: #c24040;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 2opx;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}